body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

#theme-toggle {
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #21bb8d;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */

*.oscuro {
    background-color: #1E1E2E;
    color: #ffffff;
    transition: background-color 1s, color 1s;
}


*.oscuro .product-title {

    background-color: #1E1E2E;
    transition: background-color 1s, color 1s;
    color: #ffffff;
    transition: color 1s;
}

*.oscuro .product-price {
    background-color: #1E1E2E;
    transition: background-color 1s, color 1s;
    color: #ffffff;
    transition: color 1s;
}

*.oscuro .product-description {
    background-color: #1E1E2E;
    transition: background-color 1s, color 1s;
    color: #ffffff;
    transition: color 1s;
}

*.oscuro .product-sold {
    background-color: #1E1E2E;
    transition: background-color 1s, color 1s;
    color: #ffffff;
    transition: color 1s;
}

*.oscuro #comments {
    background-color: #1E1E2E;
    transition: background-color 3s, color 3s;
}

*.oscuro .card-text {
    background-color: #ffffff;
    transition: background-color 1s, color 1s;
    color: #000000;
    transition: color 1s;
}

*.oscuro .card-title {
    color: #000000;
    transition: color 1s;
}

*.oscuro .row {
    color: #000000;
    transition: color 1s;
}

*.oscuro .col-md-3 {
    color: #ffffff;
    transition: color 1s;
}

*.oscuro .col-md-2 {
    color: #ffffff;
    transition: color 1s;
}

*.oscuro .row.mb-3 {
    color: #ffffff;
    transition: color 1s;
}

*.oscuro .col-md-8.order-md-1 {
    background-color: #1E1e2e;
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

*.oscuro .col-md-6.mb-3 label {
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

*.oscuro .col-md-12.mb-3 label {
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

*.oscuro .col-md-7.mb-3 label {
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

*.oscuro .col-md-4.mb-3 label {
    color: #ffffff;
    transition: background-color 1s, color 1s;
}

*.oscuro .album.py-5.bg-light .container {
    background-color: #1E1E2E;
    transition: background-color 1s, color 1s;
}

*.oscuro .font-weight-normal.text-end.my-2 {
    color: #ffffff;
    transition: color 1s, color 1s;
}

/* Modo oscuro */


.jumbotron,
.card-body,
.container,
.site-header {
    font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        background-size: contain;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.img-fit {
    max-height: 100%;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.cursor-active {
    cursor: pointer;
}

.left {
    float: left;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

main {
    min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.main-information {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.product-info {
    width: 262px;
    height: 100%;

    margin: 2rem auto;
}

/* Estilo de productos relacionados */
.related-product {
    width: 12rem;
    cursor: pointer;
}

.related-img {
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1.5em 0;
    margin: 0 auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1 1 60%;
}

.main-image {
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 1rem;
    width: 100%;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.thumbnail {
    height: 80px;
    width: 80px;
    object-fit: cover;
    cursor: pointer;

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.product-details {
    flex: 1 0 35%;
    margin: 0 .85rem;
}

.product-title {
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
}

.product-price {
    color: #000;
    font-weight: 300;
}

.product-description {
    font-size: 0.9rem;
    color: #565959;
}

.product-sold {
    font-size: 0.85rem;
    color: #6c757d;
}

/* Estilo mi perfil */

.profile-container {
    background-color: #1E3A5F;
    height: 100px;
}

.profile-banner {
    position: absolute;
    display: flex;
    padding: 1rem;

    & h1 {
        color: white;
        margin: 1.5rem .5rem;
        height: fit-content;
    }
}

.profile-img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    & .img-profile {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    & .input-file,
    label {
        position: absolute;
    }

    & .input-file {
        visibility: hidden;
    }

    & label {
        width: 150px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.form-container {
    margin-top: 6rem;
}

fieldset {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    & label {
        display: flex;
        align-items: center;
        justify-content: end;

        & span {
            width: 100%;
        }
    }

    & input {
        text-align: end;
        padding: .32em;
        font-size: .75em;
        border: none;
        width: 100%;
    }

    & input:focus {
        outline: none;
    }
}

.btn-submit {
    width: 150px;
}

@media screen and (min-width: 760px) {
    .image-container {
        flex-basis: 45%;
    }
}

@media screen and (min-width: 992px) {
    .profile-banner {
        & h1 {
            margin: 1rem;
        }
    }

    .edit-icon {
        opacity: 0;
        transition: opacity ease-in-out 0.5s;
    }

    .edit-icon:hover {
        opacity: 1;
    }
}